<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/principal.css">

    <title>Fitnes Gym</title>
</head>

<body>
  <!-- Navbar -->
<header>
    <nav id="navbar">
        <a href="/"><img src="/img/modelo-de-design-de-logotipo-de-academia-de-ginastica_565520-935.avif" alt="Logo"></a> <!-- Imagem como link para a página inicial -->
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/dados">Clientes</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/quemsomos">Quem somos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/horario">Horários</a></li>
        </ul>
    </nav>
</header>


    <!--rodape-->
    <footer class="rodape">
        <p>Site criado po João Victor Medeiros Paim da Silva</p>
    </footer>


    <script src="js/script"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    {{{body}}}
</body>

</html>