<link rel="stylesheet" href="/css/contato.css">

<form action="/contato" method="post">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="phone">Telefone:</label>
  <input type="tel" id="phone" name="phone" required><br><br>

  <label for="description">Descrição:</label>
  <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

  <input type="submit" value="Enviar">
</form>
