<link rel="stylesheet" href="/css/horario.css">

<h1>Horários de Funcionamento</h1>

<p>Nossa academia, a Fitnes Gym, está aberta e pronta para recebê-lo nos seguintes horários:</p>

<table>
  <tr>
    <th>Dia</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td>Segunda-feira</td>
    <td>6h - 22h</td>
  </tr>
  <tr>
    <td>Terça-feira</td>
    <td>6h - 22h</td>
  </tr>
  <tr>
    <td>Quarta-feira</td>
    <td>6h - 22h</td>
  </tr>
  <tr>
    <td>Quinta-feira</td>
    <td>6h - 22h</td>
  </tr>
  <tr>
    <td>Sexta-feira</td>
    <td>6h - 22h</td>
  </tr>
  <tr>
    <td>Sábado</td>
    <td>8h - 18h</td>
  </tr>
  <tr>
    <td>Domingo</td>
    <td>Fechado</td>
  </tr>
</table>

<p>Estamos comprometidos em oferecer flexibilidade aos nossos membros e, portanto, oferecemos horários estendidos durante a semana para atender às diferentes agendas. Nosso objetivo é garantir que você possa encontrar um horário adequado para se exercitar e aproveitar ao máximo os nossos serviços.</p>

<p>Por favor, note que os horários podem estar sujeitos a alterações sazonais ou em feriados. Recomendamos verificar as atualizações mais recentes entrando em contato conosco ou verificando nossas redes sociais.</p>

<p>Esperamos vê-lo em breve na Fitnes Gym!</p>
