<link rel="stylesheet" href="/css/inicio.css">

<div class="carousel">
  <div class="carousel-inner">
    <img src="/img/1.png" alt="Imagem 1">
    <img src="/img/2.png" alt="Imagem 2">
    <img src="/img/3.png" alt="Imagem 3">
    <img src="/img/4.png" alt="Imagem 4">
    <img src="/img/5.png" alt="Imagem 5">
    <img src="/img/6.png" alt="Imagem 6">
  </div>
   <a class="carousel-prev" href="#">&lsaquo;</a>
  <a class="carousel-next" href="#">&rsaquo;</a>
</div>

<br>
<br>

<p class="carousel-text">Bem-vindo à Fitnes Gym, a academia perfeita para alcançar seus objetivos de fitness! Oferecemos uma ampla gama de equipamentos de última geração, treinadores especializados e uma variedade de aulas de alta intensidade para ajudá-lo a atingir seu melhor condicionamento físico. Nossa equipe dedicada está pronta para orientá-lo em cada etapa do caminho, fornecendo programas personalizados e suporte contínuo. Venha se juntar a nós na Fitnes Gym e transforme sua saúde e bem-estar em grande estilo!</p>



<script>
   var carousel = document.querySelector('.carousel-inner');
var images = document.querySelectorAll('.carousel-inner img');
var currentIndex = 0;
var totalImages = images.length;
var prevButton = document.querySelector('.carousel-prev');
var nextButton = document.querySelector('.carousel-next');

function nextSlide() {
  currentIndex++;
  if (currentIndex >= totalImages) {
    currentIndex = 0;
  }
  carousel.style.transform = 'translateX(' + (-currentIndex * 100) + '%)';
}

function prevSlide() {
  currentIndex--;
  if (currentIndex < 0) {
    currentIndex = totalImages - 1;
  }
  carousel.style.transform = 'translateX(' + (-currentIndex * 100) + '%)';
}

nextButton.addEventListener('click', nextSlide);
prevButton.addEventListener('click', prevSlide);

</script>