<link rel="stylesheet" href="/css/quemsomos.css">
<div class="bodyqs">
<h1>Quem Somos</h1>

<p>Somos a Fitnes Gym, uma academia comprometida em ajudar as pessoas a alcançar um estilo de vida saudável e ativo. Nosso objetivo é fornecer um ambiente acolhedor e motivador, onde nossos membros possam atingir seus objetivos de condicionamento físico e bem-estar.</p>

<p>Na Fitnes Gym, acreditamos que todos têm o potencial de alcançar a melhor versão de si mesmos. Nossa equipe de instrutores certificados está pronta para oferecer orientação e apoio personalizados para ajudar nossos membros a superar desafios, estabelecer metas realistas e obter resultados duradouros.</p>

<p>Nosso espaço de treinamento moderno está equipado com equipamentos de última geração, oferecendo uma ampla variedade de opções de treinamento, desde musculação até aulas de grupo divertidas e estimulantes.</p>

<p>Além disso, na Fitnes Gym, promovemos um ambiente inclusivo e amigável, onde todos são bem-vindos, independentemente do seu nível de condicionamento físico. Acreditamos que a jornada para uma vida saudável é única para cada indivíduo, e estamos aqui para apoiá-lo em cada passo do caminho.</p>

<p>Se você está buscando melhorar sua saúde, aumentar sua força ou simplesmente adotar um estilo de vida mais ativo, a Fitnes Gym é o lugar certo para você. Junte-se a nós e faça parte de uma comunidade comprometida com o seu sucesso!</p>

<h2>Nossos Proficionais</h2>
</div>
<div class="imgpsc">
    <div>
        <p>Renato Cariani</p>
        <img class="img" src="https://conteudo.imguol.com.br/c/splash/34/2022/08/25/renato-cariani-disse-que-perdeu-25-mil-seguidores-um-dia-apos-anunciar-live-em-podcast-com-jair-bolsonaro-pl-1661454471500_v2_900x506.jpg" alt="renato">
    </div>
    <div>
        <p>Ramon Queiroz</p>
        <img class="img" src="https://www.otempo.com.br/image/contentid/policy:1.2785253:1671492409/dino-PNG.PNG?f=3x2&w=1224" alt="ramon">
    </div>
    <div>
        <p>Paulo Muzy</p>
        <img class="img" src="https://amazonasatual.com.br/wp-content/uploads/2022/07/Paulo-Muy-Bolsonaro-polemica.jpg" alt="Paulo">
    </div>
</div>