.carousel {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .carousel-inner img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}