.img{
    border-radius: 50%;
    overflow: hidden;
    height: 270px;
    width: 350px;

}

.imgpsc{
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bodyqs{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}